<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin管理页面</title>
</head>
<body>




欢迎来到管理员索引页！<br>以下为操作示例：
<br>-------------------<br>
查询所有用户列表：`http://localhost:8080/admin/allUserList`<br>
<!-- Button to redirect to the allUserList page -->
<button onclick="redirectTo('/allUserList')">View All Users</button>
<br>
增加id为4的用户，名字为jill，性别为Female，学工号为12321，角色为Student，年龄为20（如果已有这个id的用户会给出提示信息）：<br>
<!-- Button to redirect to the addUser page with example parameters -->
<button onclick="redirectTo('/addUser?id=4&userName=Jill&gender=Female&ecardId=12321&role=Student&age=20')">Add User Jill</button>
<br>
TODO

`http://localhost:8080/admin/addUser?id=4&userName=Jill&gender=Female&ecardId=12321&role=Student&age=20`<br>
更新id为1的用户的名字为JohnDoe，性别为Male，学工号为12345，角色为Staff，年龄为30（如果不存在这个id的用户会给出提示信息）：`http://localhost:8080/admin/updateUser?id=1&userName=JohnDoe&gender=Male&ecardId=12345&role=Staff&age=30`<br>
删除id为4的用户（如果不存在这个id的用户会给出提示信息）：`http://localhost:8080/admin/deleteUser/4`<br>
<br>-------------------<br>
商家索引页：`http://localhost:8080/merchant/`<br>
用户索引页：`http://localhost:8080/user/`<br>


<script>
    // Function to append the given path to the current URL and redirect
    function redirectTo(path) {
        const currentUrl = window.location.href;
        const newUrl = currentUrl + path;
        window.location.href = newUrl;
    }
</script>
</body>

</html>