<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script>
        async function login() {
            const type = document.getElementById('type').value;
            const userId = document.getElementById('userId').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                        // 'content-type' : 'application/x-www-form-urlencoded'
                    },
                    body: JSON.stringify({ type, userId, password })
                });

                // if (response.status === 302) {
                //     // 重定向到新的URL，浏览器会自动处理
                //     console.log('Redirecting...');
                // }
                // else
                if (response.ok) {
                    // const redirectUrl = response.headers.get('Location');
                    // const redirectUrl = await response.text(); // 获取重定向URL
                    const responseBody = await response.json();
                    const redirectUrl = responseBody.redirectUrl;
                    if (redirectUrl) {
                        window.location.href = redirectUrl;
                    } else {
                        alert('Login successful, but no redirect URL found');
                    }
                } else {
                    const errorText = await response.text();
                    alert('Login failed: ' + errorText);
                }
            } catch (error) {
                alert('An error occurred: ' + error.message);
            }
        }
    </script>
</head>
<body>
<label for="type">登录类型：</label>
<select id="type">
    <option value="admin">admin</option>
    <option value="user">user</option>
    <option value="merchant">merchant</option>
</select>
<label for="userId">ID:</label>
<input type="text" id="userId" required value="root">
<br><br>
<label for="password">密码:</label>
<input type="password" id="password" required value="root">
<br><br>
<button onclick="login()">登录</button>
</body>
</html>
