<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理页面</title>
</head>
<body>

欢迎来到用户索引页！<br>以下为操作示例：
<br>-------------------<br>
查询该用户用户信息：<br>
<button onclick="redirectTo('/selfInfo')">View Self Info</button>
<br>-------------------<br>
查询所有商家列表（简略）：<br>
<button onclick="redirectTo('/searchMerchant2?keyword=')">View All Merchants (Concise)</button>
<br>-------------------<br>
查询第2个商家列表（简略）：<br>
<button onclick="redirectTo('/searchMerchant2?keyword=2')">Search Merchant Id=2 (Concise)</button>
<br>-------------------<br>
查询第3个商家列表（详细）：<br>
<button onclick="redirectTo('/searchMerchantDetails?id=3')">Search Merchant Id=3 (Detailed)</button>
<br>-------------------<br>
查询第3个商家的关于`p`的菜品：<br>
<button onclick="redirectTo('/searchDishes?merchantId=3&keyword=p')">Search Dish "p" in Merchant Id=3</button>
<br>-------------------<br>

<script>
    // Function to append the given path to the current URL and redirect
    function redirectTo(path) {
        const currentUrl = window.location.href;
        const newUrl = currentUrl + path;
        window.location.href = newUrl;
    }
</script>
</body>
</html>