<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理页面</title>
</head>
<body>

欢迎来到用户索引页！<br>以下为操作示例：
<br>-------------------<br>
查询该用户用户信息：<br>
<button onclick="redirectTo('/userSelfInfo')">View Self Info</button>
<br>-------------------<br>
查询所有商家列表（简略）：<br>
<button onclick="redirectTo('/searchMerchant2?keyword=')">View All Merchants (Concise)</button>
<br>-------------------<br>
查询名字里含有“e”的商家列表（简略）：<br>
<button onclick="redirectTo('/searchMerchant2?keyword=e')">Search Merchant Id=2 (Concise)</button>
<br>-------------------<br>
查询第3个（id=3）商家列表（详细）：<br>
<button onclick="redirectTo('/searchMerchantDetails?id=3')">Search Merchant Id=3 (Detailed)</button>
<br>-------------------<br>
查询第3个商家的关于`p`的菜品：<br>
<button onclick="redirectTo('/searchDishes?merchantId=3&keyword=p')">Search Dish "p" in Merchant Id=3</button>
<br>-------------------<br>
查询id=2的菜品的最新价格：<br>
<button onclick="redirectTo('/latestPrice/2')">查询id=2的菜品的最新价格</button>
<br>-------------------<br>
收藏id为2的菜品：<br>
<button onclick="redirectTo('/addFavoriteDish?dishId=2')">收藏id为2的菜品</button>
<br>-------------------<br>
查看当前收藏的所有菜品：<br>
<button onclick="redirectTo('/findFavoriteDish')">查看当前收藏的所有菜品</button>
<br>-------------------<br>
收藏id为3的商户：<br>
<button onclick="redirectTo('/addFavoriteMerchant?merchantId=3')">收藏id为3的商户</button>
<br>-------------------<br>
查看当前收藏的所有商户：<br>
<button onclick="redirectTo('/findFavoriteMerchant')">查看当前收藏的所有商户</button>
<br>-------------------<br>
查询当前所有订单：<br>
<button onclick="redirectTo('/viewOrders')">查询当前所有订单</button>
<br>-------------------<br>



<script>
    // Function to append the given path to the current URL and redirect
    function redirectTo(path) {
        const currentUrl = window.location.href;
        const newUrl = currentUrl + path;
        window.location.href = newUrl;
    }
</script>
</body>
</html>