<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理页面</title>
</head>
<body>

欢迎来到用户索引页！<br>以下为操作示例：
<br>-------------------<br>
查询该用户用户信息：<br>
<button onclick="redirectTo('/userSelfInfo')">View Self Info</button>
<br>-------------------<br>
查询所有商家列表（简略）：<br>
<button onclick="redirectTo('/searchMerchant2?keyword=')">查询所有商家列表（简略）</button>
<br>-------------------<br>
查询名字里含有“e”的商家列表（简略）：<br>
<button onclick="redirectTo('/searchMerchant2?keyword=e')">查询名字里含有“e”的商家列表（简略）(Concise)</button>
<br>-------------------<br>
查询第3个（id=3）商家列表（详细）：<br>
<button onclick="redirectTo('/searchMerchantDetails?id=3')">查询第3个（id=3）商家列表（详细）(Detailed)</button>
<br>-------------------<br>
查询第3个商家的关于`p`的菜品：<br>
<button onclick="redirectTo('/searchDishes?merchantId=3&keyword=p')">查询第3个商家的关于`p`的菜品</button>
<br>-------------------<br>
查询id=2的菜品的最新价格：<br>
<button onclick="redirectTo('/latestPrice/2')">查询id=2的菜品的最新价格</button>
<br>-------------------<br>
收藏id为2的菜品：<br>
<button onclick="redirectTo('/addFavoriteDish?dishId=2')">收藏id为2的菜品</button>
<br>-------------------<br>
查看当前收藏的所有菜品：<br>
<button onclick="redirectTo('/findFavoriteDish')">查看当前收藏的所有菜品</button>
<br>-------------------<br>
收藏id为3的商户：<br>
<button onclick="redirectTo('/addFavoriteMerchant?merchantId=3')">收藏id为3的商户</button>
<br>-------------------<br>
查看当前收藏的所有商户：<br>
<button onclick="redirectTo('/findFavoriteMerchant')">查看当前收藏的所有商户</button>
<br>-------------------<br>
查看当前id为4的商户的所有菜品收藏量：<br>
<button onclick="redirectTo('/dishFavoriteCounts?merchantId=4')">查看当前id为4的商户的所有菜品收藏量</button>
<br>-------------------<br>
查看所有菜品销量统计：<br>
<button onclick="redirectTo('/sales')">查看所有菜品销量统计</button>
<br>-------------------<br>
查询当前所有订单：<br>
<button onclick="redirectTo('/viewOrders')">查询当前所有订单</button>
<br>-------------------<br>
查询当前id为1的菜品所有的评价：<br>
<button onclick="redirectTo('/review/1')">查询当前id为1的菜品所有的评价</button>
<br>-------------------<br>
查询当前消息列表：<br>
<button onclick="redirectTo('/msg')">查询当前消息列表</button>
<br>-------------------<br>



<script>
    // Function to append the given path to the current URL and redirect
    function redirectTo(path) {
        const currentUrl = window.location.href;
        const newUrl = currentUrl + path;
        window.location.href = newUrl;
    }
</script>
</body>
</html>