<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pj.mapper.DishMapper">

<!--    <select id="searchDishes" resultType="com.example.pj.entity.Dish">-->
<!--        SELECT * FROM dish-->
<!--        WHERE merchantId = #{merchantId}-->
<!--          AND dishname LIKE CONCAT('%', #{keyword}, '%')-->
<!--    </select>-->

<!--    <select id="getDishByID" resultType="com.example.pj.entity.Dish">-->
<!--        SELECT * FROM dish WHERE dishid = #{dishid}-->
<!--    </select>-->

</mapper>