<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MerchantMapper">

    <select id="searchMerchant" resultType="com.example.pj.entity.Merchant">
        SELECT * FROM merchant
        WHERE MerchantName LIKE CONCAT('%', #{keyword}, '%')
           OR Address LIKE CONCAT('%', #{keyword}, '%')
    </select>
    <select id="getMerchantById" resultType="com.example.pj.entity.Merchant">
        SELECT * FROM merchant WHERE MerchantId = #{merchantId}
    </select>

    <select id="getDishesByMerchantId" resultType="com.example.pj.entity.Dish">
        SELECT * FROM dish WHERE MerchantId = #{merchantId}
    </select>

</mapper>