<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">
    <select id="findAll" resultType="com.example.pj.entity.User">
        SELECT * FROM user;
    </select>

    <insert id="insert" parameterType="com.example.pj.entity.User">
        INSERT INTO user (UserID,UserName,Gender,EcardID,Role,Age) VALUES (#{userID},#{userName},#{gender},#{ecardID},#{role},#{age});
    </insert>

    <select id="findByID" parameterType="long" resultType="com.example.pj.entity.User">
        SELECT * FROM user WHERE UserID = #{id};
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM user WHERE UserID = #{userID};
    </delete>

    <update id="update" parameterType="com.example.pj.entity.User">
        UPDATE user SET Username = #{name}, Gender = #{gender}, EcardID = #{ecardID}, Role = #{role}, Age = #{age} WHERE UserID = #{id};
    </update>
</mapper>
